#login h1 {
    text-align: center;
}

#login button {
    margin-right: 20px;
}

@media (max-width: 800px) {
    #login input {
        padding: 6px;
    }

    #login button {
        padding: 12px 20px;
    }
}