<app-page-default>
    <div class="main">
        <section class="BannerMainContainer">
            <section class="ContentAreaContainer">
                <div class="Item">
                    <h1 class="Title">How many words do you think you know?</h1>
                    <h2 class="Description">Let's figure this out right now!</h2>
                </div>
                <div class="Item">
                    <div id="divVideoContainer" class="VideoContainer"><iframe
                            src="https://www.youtube.com/embed/iMaqzAkgUIs?autoplay=0&amp;mute=1" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen=""
                            srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}span:hover{opacity:0.9}</style><a href=https://www.youtube.com/embed/iMaqzAkgUIs?autoplay=1&amp;mute=1><img loading=lazy src=https://img.youtube.com/vi/iMaqzAkgUIs/hqdefault.jpg alt=&quot;How many words do you think you know?&quot;><span>&amp;#x25BA;</span></a>"
                            title="How many words do you think you know?" class="ResponsiveIframe"></iframe></div>
                    <button id="btnWatch" class="WatchButton">Watch</button>
                </div>
            </section>
        </section>

        <section>
            <div id="divFirstStep">
                <h3>First Step</h3>
                <p>Choose the target language, type or paste your text and click on Check it.</p>
                <form id="formCheckWords" ngForm #form="ngForm" (ngSubmit)="btnCheckWordsClick(form)">
                    <div>
                        <label for="cmbLanguages">Language:</label>
                        <div>
                            <!--TODO Double check the ngModel structure. Why ngModel="en". Why the event has $event not cmbLanguages? Where is name attr?  Where is required See 4-ngModel-Mosh-->
                            <!--Try: <select #cmbLanguages="ngModel" ngModel name="cmbLanguages" id="cmbLanguages" name="cmbLanguages" required
                            (change)="changeCmbLanguages(cmbLanguages)">-->
                            <select #cmbLanguages="ngModel" ngModel="en" name="cmbLanguages" id="cmbLanguages"
                                (change)="changeCmbLanguages($event)">
                                <option *ngFor="let language of languages ; let i = index" [value]="language.id"
                                    [selected]="language.id=='en'">{{language.language}}
                                </option>
                            </select>
                        </div>
                        <div class="textarea-wrapper">
                            <textarea #text="ngModel" ngModel name="text" id="text"
                                placeholder="Type or paste your text here" maxlength={{maxLengthWord}}
                                (ngModelChange)="countCharacteres(text.value)"></textarea>
                            <span class="remaning">{{remainCharacter}} / {{maxLengthWord}}</span>
                        </div>
                        <button id="btnCheckWords">Check it</button>
                    </div>
                </form>
            </div>

            <div id="divSecondStep" *ngIf="isTypedWords()">
                <h3>Second Step</h3>
                <p>Click on the words you know and save it. Next time, these words will show up already checked.</p>
                <form id="formSaveWords" (ngSubmit)="saveWords()" key="formPost">
                    <ul id="listWords" class="ks-cboxtags">
                        <li id="itemWord" *ngFor="let item of typedWords; let i = index;">
                            <input type="checkbox" [id]="item+i" name="ckbWord" [value]="item"
                                [checked]="isSavedWord(item)" (change)='wordChkSelect($event)' />
                            <label [for]="item+i"> {{item}} </label>
                        </li>
                    </ul>
                    <button id="btnSave">Save</button>
                </form>
            </div>
        </section>
    </div>
</app-page-default>