* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--white);
}

:root {
  --primary: #2a7ae4;
  --black: #000000;
  --blackLighter: #53585d;
  ;
  --grayLight: #f5f5f5;
  --grayMedium: #e5e5e5;
  --white: #ffffff;
  --frontEnd: #6bd1ff;
  --backEnd: #00c86f;
  --colorSuccess: #07bc0c;
  --colorSuccessBorder: #06960A;
  --colorError: #e74c3c;
  --checkboxCheckedBorder: #00c86f;
  --checkboxChecked: #07bc0c;
  --colorSuccessBorder: #06960A;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

a:hover,
button:hover {
  opacity: 0.9;
}

textarea {
  background: var(--blackLighter);
  color: var(--grayLight);
  display: block;
  width: 100%;
  min-height: 150px;
  font-size: 18px;
  border-radius: 4px;
  border-right: 0px;
  border-left: 0px;
  border-image: initial;
  border-top: 4px solid transparent;
  border-bottom: 4px solid var(--blackLighter);
  transition: border-color 0.3s ease 0s;
  padding: 16px;
  margin-bottom: 45px;
  resize: none;
}

textarea:focus {
  border-bottom-color: var(--primary);
}

textarea:focus-visible {
  outline: 0;
}

textarea::placeholder {
  color: var(--grayMedium);
}

button {
  color: var(--white);
  border: 1px solid var(--white);
  background: var(--black);
  box-sizing: border-box;
  cursor: pointer;
  padding: 16px 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: opacity 0.3s ease 0s;
}

select {
  background: var(--blackLighter);
  color: var(--grayLight);
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  border-right: 0px;
  border-left: 0px;
  border-image: initial;
  border-top: 4px solid transparent;
  border-bottom: 4px solid var(--blackLighter);
  padding: 16px;
  margin-bottom: 45px;
  margin-top: 5px;
}

input {
  background: var(--blackLighter);
  color: var(--grayLight);
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  border-right: 0px;
  border-left: 0px;
  border-image: initial;
  border-top: 4px solid transparent;
  border-bottom: 4px solid var(--blackLighter);
  padding: 16px;
  margin-bottom: 45px;
  margin-top: 5px;
}

@media (max-width: 800px) {

  input,
  select {
    padding: 6px;
  }

  button {
    padding: 12px 20px;
  }
}