<div class="main">
    <section class="BannerMainContainer">
        <section class="ContentAreaContainer">
            <div class="Item">
                <h2 class="Title">How many words do you think you know?</h2>
                <p class="Description">Let's figure this out right now!</p>
            </div>
            <div class="Item">
                <div class="VideoContainer"><iframe
                        src="https://www.youtube.com/embed/iMaqzAkgUIs?autoplay=0&amp;mute=1" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen=""
                        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/iMaqzAkgUIs?autoplay=1&amp;mute=1><img loading=lazy src=https://img.youtube.com/vi/iMaqzAkgUIs/hqdefault.jpg alt=&quot;How many words do you think you know?&quot;><span>&amp;#x25BA;</span></a>"
                        title="How many words do you think you know?" class="ResponsiveIframe"></iframe></div>
                <button class="WatchButton">Watch</button>
            </div>
        </section>
    </section>

    <div>
        <div>
            <h3>First Step</h3>
            <p>Choose the target language, paste your text and click on Check it.</p>
            <form ngForm #form="ngForm" (ngSubmit)="btnCheckWordsClick(form)">
                <div>
                    <label for="cmblanguages">Language:</label>
                    <div>
                        <!--TODO Double check the ngModel structure. Why ngModel="en". Why the event has $event not cmblanguages? Where is name attr?  Where is required See 4-ngModel-Mosh-->
                        <!--Try: <select #cmblanguages="ngModel" ngModel name="cmblanguages" id="cmblanguages" name="cmblanguages" required
                            (change)="changeCmbLanguages(cmblanguages)">-->
                        <select #cmblanguages="ngModel" ngModel="en" name="cmblanguages" id="cmblanguages"
                            (change)="changeCmbLanguages($event)">
                            <option *ngFor="let language of languages ; let i = index" [value]="language.id"
                                [selected]="language.id=='en'">{{language.language}}
                            </option>
                        </select>
                    </div>
                    <textarea #text="ngModel" ngModel name="text" id="text"
                        placeholder="Paste your text here"></textarea>
                    <button id="btncheckWords" class="button">Check it</button>
                </div>
            </form>
        </div>

        <div *ngIf="isTypedWords()">
            <h3>Second Step</h3>
            <p>Click on the words you know and save it. Next time, these words will show up already checked.</p>
            <form (ngSubmit)="saveWords()" key="formPost">
                <ul class="ks-cboxtags">
                    <li *ngFor="let item of typedWords; let i = index;">
                        <input type="checkbox" [id]="item+i" name="ckbWord" [value]="item" [checked]="isSavedWord(item)"
                            (change)='wordChkSelect($event)' />
                        <label [for]="item+i"> {{item}} </label>
                    </li>
                </ul>
                <button class="button">Save</button>
            </form>
        </div>
    </div>
</div>